@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-body min-h-screen text-gray_100;
  text-rendering: optimizeLegibility;
}


@screen dark {
  body {
    @apply bg-darkness text-gray_500;
  }
}



/* Utilities
   --------- */

.underline-thick {
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}



/* Forms
   ----- */

input::placeholder,
textarea::placeholder {
  @apply text-gray_400 opacity-75;
}


@screen dark {
  input::placeholder,
  textarea::placeholder {
    @apply text-gray_300 opacity-75;
  }
}



/* Misc
   ---- */

iframe {
  @apply h-full p-4 w-full;
}
