@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-body min-h-screen text-gray-100;
  text-rendering: optimizeLegibility;
}


@screen dark {
  body {
    @apply bg-darkness text-gray-500;
  }
}



/* Utilities
   ========= */

.underline-thick {
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}



/* Drive
   ----- */

.drive-item__preview audio {
  @apply mx-auto;
}


.drive-item__preview img {
  @apply bg-gray-900;
}


@screen dark {
  .drive-item__preview img {
    @apply bg-darkness-below;
  }
}



/* Forms
   ----- */

input::placeholder,
textarea::placeholder {
  @apply text-gray-400 opacity-75;
}


input:-moz-ui-invalid,
textarea:-moz-ui-invalid {
  @apply border-pink outline-none shadow-none;
}


input:user-invalid,
textarea:user-invalid {
  @apply border-pink outline-none shadow-none;
}


input:focus,
textarea:focus {
  @apply border-purple-tint;
}


@screen dark {
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-300 opacity-75;
  }

  input:user-invalid,
  textarea:user-invalid {
    @apply border-pink-shade;
  }

  input:focus,
  textarea:focus {
    @apply border-purple-shade;
  }
}



/* Misc
   ---- */

iframe {
  @apply h-full p-4 w-full;
}



/* Sidebar
   ------- */

.sidebar {
  height: calc(100vh - 99px - 32px * 2 - 94px - 2px);
  top: 131px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
