@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-body min-h-screen text-gray-100;
  text-rendering: optimizeLegibility;
}


@screen dark {
  body {
    @apply bg-darkness text-gray-500;
  }
}



/* Utilities
   ========= */

.underline-thick {
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}



/* Drive
   ----- */

.drive-item__preview img {
  @apply bg-gray-900;
}


@screen dark {
  .drive-item__preview img {
    @apply bg-darkness-below;
  }
}



/* Forms
   ----- */

input::placeholder,
textarea::placeholder {
  @apply text-gray-400 opacity-75;
}


@screen dark {
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-300 opacity-75;
  }
}



/* Misc
   ---- */

iframe {
  @apply h-full p-4 w-full;
}
